@charset "utf-8";

/* 전체 리셋 */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: rgb(66, 66, 66);
}

ul,ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
}















#wrap{
    width: 100%;
    min-width: 1300px;
}

.header{
    height: 120px;
}


.headerIn{
    width: 1300px;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.logo a{
    display: block;
    width: 150px;
    height: 80px;
    background-image: url(/resources/img/logo.png);
    background-size: 150px auto;
    text-indent: -99999px;
}

.gnb{
    margin-left: -270px;
}

.gnb ul{
    display: flex;
}

.gnb li{
    margin-left: 80px;
}

.gnb li a{
    font-size: 17px;
    color: #333;
    font-weight: 500;
}

.member ul{
    display: flex;
}

.member li{
    margin-left: 20px;
}

.member li a{
    font-size: 14px;
    color: #333;
}

.member .sc1 a{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(/resources/img/icon_search.png);
    text-indent: -99999px;
}

.member .sc2 a{
    display: block;
    width: 25px;
    height: 20px;
    background-image: url(/resources/img/icon_cart.png);
    text-indent: -99999px;
}

















/* ------------------------------------------------- */

/* #container{
    position: relative;
} */

.containerIn{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}


.mainslide{
    position: relative;
    height: 450px;
}

.slide-img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -650px;
    width: 1300px;
    height: 360px;
    background-image: url(/resources/img/brand.jpg);
    background-size: 1300px 360px;
    text-indent: -999999px;
    opacity: 0.9;
    max-width: 100%;
}

.msname{
    position: absolute;
    top: 317px;
    left: 30px;
    color: #222;
    font-size: 75px;
    line-height: 75px;
    font-weight: 700;
}




.contents{
    position: relative;
    width: 1240px;
    margin: 0 auto;
}

.bclick{
    position: absolute;
    top: -150px;
    right: 20px;
}

.bclick a{
    color: #a39489;
    font-size: 17px;
    margin-left: 25px;
    font-weight: 600;
}

.bclick a:hover{
    color: #615750;
}

.brandh{
    font-size: 42px;
    line-height: 42px;
    color: #333;
    margin-bottom: 30px;
}

.bStory{
    margin-top: 90px;
}

.bCiBi{
    margin: 120px 0 120px 0;
}

.brandT1{
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.brandT2{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 130px;
}

.contents ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 220px;
}

.bimg img{
    width: 380px;
    height: 250px;
}







/* ------------------------------------------------- */

#footer{
    background-color: #74665b;
    padding-top: 30px;
    padding-bottom: 60px;
}

.footerIn{
    width: 1300px;
    margin: 0 auto;
    display: flex;
}

.f_logo{
    width: 180px;
    height: 100px;
    background-image: url(/resources/img/flogo.png);
    background-size: 180px auto;
    text-indent: -99999px;
    margin-right: 80px;
    margin-left: 20px;
}
.f_box{
    margin-right: 100px;
}

.f_menu{
    margin-bottom: 20px;
    margin-top: 5px;
}

.f_menu ul{
    display: flex;
}

.f_menu li{
    margin-right: 5px;
}

.f_menu li a{
    display: inline-block;
    color: #fff;
    border: 1px solid #ddd;
    padding: 3px 15px;
    font-size: 15px;
}

.f_info{
    margin-bottom: 25px;
    color: #ddd;
    font-size: 14px;
    font-weight: 300;
}

.f_info span{
    margin-right: 13px;
}

.copyright{
    color: #ddd;
    font-weight: 300;
}

.fkg .kg1{
    margin-bottom: 15px;
}

.fkg .kg2{
    margin-bottom: 15px;
    color: #ddd;
    font-size: 12px;
}

.fkg .kg3 a{
    color: #ddd;
}

.fkg .kg3 span{
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 5px;
}
