@charset "utf-8";

/* 전체 리셋 */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: rgb(66, 66, 66);
}

ul,ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
}















#wrap{
    width: 100%;
    min-width: 1300px;
}

.header{
    height: 120px;
}


.headerIn{
    width: 1300px;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.logo a{
    display: block;
    width: 150px;
    height: 80px;
    background-image: url(/resources/img/logo.png);
    background-size: 150px auto;
    text-indent: -99999px;
}

.gnb{
    margin-left: -270px;
}

.gnb ul{
    display: flex;
}

.gnb li{
    margin-left: 80px;
}

.gnb li a{
    font-size: 17px;
    color: #333;
    font-weight: 500;
}

.member ul{
    display: flex;
}

.member li{
    margin-left: 20px;
}

.member li a{
    font-size: 14px;
    color: #333;
}

.member .sc1 a{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(/resources/img/icon_search.png);
    text-indent: -99999px;
}

.member .sc2 a{
    display: block;
    width: 25px;
    height: 20px;
    background-image: url(/resources/img/icon_cart.png);
    text-indent: -99999px;
}

















/* ------------------------------------------------- */

#container{
    position: relative;
    width: 1300px;
    margin: 120px auto 200px auto;
}


#container h2{
    text-align: left;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 130px;
    color: #74665b;
    border-bottom: 3px solid #74665b;
    padding-bottom: 50px;
}

.regist{
	position: absolute;
	right:10px;
	top: 30px;
	padding:5px 10px;
	background-color:#74665b;
	border-radius: 3px;
	border: 0;
}

.regist a{
	color:#fff;
	font-size:15px;
}

.product ul{
    display: flex;
    flex-wrap: wrap;
}

.product ul li{
    width: 230px;
    text-align: center;
    margin:0 47.5px 140px 47.5px;
}

.product li .itemImg img{
    width: 100%;
    height:260px;
}

.product li .itemBrand{
    color: #5c5b5b;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 14px;
}

.product li .itemName{
    color: #5c5b5b;
    font-weight: 500;
    height: 35px;
    font-size: 14px;
}

.product li .itemPrice{
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.product .more{
    position: absolute;
    bottom: -60px;
    right: 35px;
    font-size: 14px;
}

.product .more a{
    color: #5c5b5b;
}

.product .more a span{
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    margin-left: 3px;
}
















/* ------------------------------------------------- */

#footer{
    background-color: #74665b;
    padding-top: 30px;
    padding-bottom: 60px;
}

.footerIn{
    width: 1300px;
    margin: 0 auto;
    display: flex;
}

.f_logo{
    width: 180px;
    height: 100px;
    background-image: url(/resources/img/flogo.png);
    background-size: 180px auto;
    text-indent: -99999px;
    margin-right: 80px;
    margin-left: 20px;
}
.f_box{
    margin-right: 100px;
}

.f_menu{
    margin-bottom: 20px;
    margin-top: 5px;
}

.f_menu ul{
    display: flex;
}

.f_menu li{
    margin-right: 5px;
}

.f_menu li a{
    display: inline-block;
    color: #fff;
    border: 1px solid #ddd;
    padding: 3px 15px;
    font-size: 15px;
}

.f_info{
    margin-bottom: 25px;
    color: #ddd;
    font-size: 14px;
    font-weight: 300;
}

.f_info span{
    margin-right: 13px;
}

.copyright{
    color: #ddd;
    font-weight: 300;
}

.fkg .kg1{
    margin-bottom: 15px;
}

.fkg .kg2{
    margin-bottom: 15px;
    color: #ddd;
    font-size: 12px;
}

.fkg .kg3 a{
    color: #ddd;
}

.fkg .kg3 span{
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 5px;
}
